@import url("https://fonts.googleapis.com/css?family=Abril+Fatface:400");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@font-face {
  font-family: "Sequel Sans-LightDisp";
  src: url("https://fonts.animaapp.com/SequelSans-LightDisp") format("opentype");
}

@font-face {
  font-family: "Sequel Sans-Light";
  src: url("https://fonts.animaapp.com/SequelSans-Light") format("truetype");
}

@font-face {
  font-family: "Sequel Sans-Regular";
  src: url("https://fonts.animaapp.com/SequelSans-Regular") format("truetype");
}

@font-face {
  font-family: "Sequel Sans-LightHead";
  src: url("https://fonts.animaapp.com/SequelSans-LightHead") format("truetype");
}

@font-face {
  font-family: "Sequel Sans-RomanHead";
  src: url("https://fonts.animaapp.com/SequelSans-RomanHead") format("truetype");
}

@font-face {
  font-family: "Sequel Sans-Black";
  src: url("https://fonts.animaapp.com/SequelSans-Black") format("opentype");
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
